@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: black;
    color: purple;
    font-family: Poppins, sans-serif;
}

.rpsls {
    width: 15%;
    text-align: center;
}

#left-half {
    width: 45%;
    text-align: left;
}

button {
    background-color: purple;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #ffffff solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

h1 {
    text-align: center;
}

#grid {
    width: 600px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 606px;
    height: 606px;
}

.square {
    height: 200px;
    width: 200px;
    border: 1px solid white;
}

.mole {
    background-image: url("/Whack-a-Mole/mole.svg");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.breakout-grid {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 300px;
    border: solid white 1px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background-color: green;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}

.frogger-grid {
    position: relative;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    border: 1px white solid;
    height: 180px;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
}

.frogger-grid div {
    height: 20px;
    width: 20px;
}

.grass {
    background-color: forestgreen;
}

.starting-block {
    background-color: chartreuse;
}

.ending-block {
    background-color: chartreuse;
}

.boat-left, .boat-right {
    background-color: lightblue;
}

.car-left, .car-right {
    background-color: lightgrey;
}

.frog {
    background-image: url("/Frogger/media/frog.svg");
}