@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: black;
    color: purple;
    font-family: Poppins, sans-serif;
}

.rpsls {
    width: 15%;
    text-align: center;
}

#left-half {
    width: 45%;
    text-align: left;
}

button {
    background-color: purple;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #ffffff solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

h1 {
    text-align: center;
}

#grid {
    width: 600px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 606px;
    height: 606px;
}

.square {
    height: 200px;
    width: 200px;
    border: 1px solid white;
}

.mole {
    background-image: url("/Whack-a-Mole/mole.svg");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.breakout-grid {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 300px;
    border: solid white 1px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background-color: green;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}

.frogger-grid {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 2px white solid;
    border-bottom: 4px white solid;
    height: 360px;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
}

.frogger-grid div {
    height: 40px;
    width: 40px;
}

.grass {
    background-color: forestgreen;
}

.goal {
    background-color: darkred !important;
}

.frog {
    background-image: url("/Frogger/media/frog.svg") !important;
}

.boat-left, .boat-right {
    background-color: chartreuse;
}

.b1, .b2, .b3 {
    background-image: url("/Frogger/media/boat-left.svg");
    transform: scaleX(-1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.b7, .b8, .b9 {
    background-image: url("/Frogger/media/boat-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.car-left, .car-right {
    background-color: slategrey;
}

.car-right {
    border-top: 1px white dashed;
}

.c1, .c3 {
    background-image: url("/Frogger/media/car-left.svg");
}

.c7, .c10 {
    background-image: url("/Frogger/media/car-right.svg");
    background-repeat: no-repeat;
    background-position: center;
}

